resources:
  - name: repo
    type: git
    source:
      uri: "https://${GITHUB_USERNAME}:${GITHUB_PASSWORD}@github.com/manedurphy/concourse-practice.git"
      branch: main

jobs:
  - name: hello-world-job
    plan:
      - get: repo
        trigger: true
      - task: create-commit
        config:
          platform: linux
          image_resource:
            type: registry-image
            source:
              repository: gitea/gitea
          inputs:
            - name: repo
          outputs:
            - name: repo
          run:
            path: sh
            args:
              - -cx
              - |
                cd repo
                date +"%Y-%m-%d" > todays-date
                git add ./todays-date
                git config --global user.email $GITHUB_EMAIL
                git config --global user.name $GIT_AUTHOR_NAME
                git commit -m "Update todays date"
      - put: repo
        params:
          repository: repo